<style>
  .navbar-custom {
    background-color: #343a40;
    color: white;
  }

  .navbar-custom .navbar-brand {
    color: white !important;
    font-family: inherit;
  }

  .navbar-custom .nav-link {
    color: rgba(255, 255, 255, 0.9) !important;
  }

  .navbar-custom .nav-link:hover {
    color: #ffffff !important;
    opacity: 1;
  }
</style>

<nav class="navbar navbar-expand-sm navbar-custom fixed-top mb-5 shadow-sm">
  <div class="container pl-4 pr-0" style="max-width: 1700px;">
    <div class="row w-100 justify-content-center">
      <div class="col-12 col-lg-10 d-flex justify-content-between align-items-center">
        <a class="navbar-brand d-inline-flex align-items-center" href="{{ '/' | relative_url }}">
          <strong style="color: #ffffff;">{{site.data.profile.navbar_name}}</strong>
        </a>


        <button class="navbar-toggler" style="font-size: 1em; padding: 0.5em;" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-map"></i> Menu
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% for item in site.data.navigation.pages %}
            <li class="nav-item {% if item.name == page.navbar_title %}active{% endif %}">
              <a class="nav-link" style="font-size: 1.1rem" href="{{ item.url | relative_url }}">{{ item.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>